* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292a2a;
}

.hidden {
    display: none;
}

.box {
    background-image: linear-gradient(#232322, #070803);
    border-radius: 1rem;
    color: #ffffff;
    margin: auto;
    max-width: 20rem;
    padding: 2rem;
}

#boxResults {
    text-align: center;
    position: absolute;
}

#boxRate img {
    width: 2.5rem;
}

#boxRate h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

#boxResults h1 {
    color: #e4ac14;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 0.5rem 0;
    background-color: #4a4a4a;
    width: 65%;
}

#boxResults h2 {
    margin: 1rem 0;
    font-size: clamp(0.5rem, 1.5rem, 3rem);
}

#boxResults p {
    font-size: 14px;
    color:#797979;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.btnScore {
    background-color: #4a4a4a;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.5rem 0;
    cursor: pointer;
}

.btnScore:hover {
    background-color: #e4ac14;
}

.btnScore:focus {
    background-color: #a9a9a9;
}

.btnSubmit {
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 1.5rem;
    background-color: #e4ac14;
    padding: 10px 130px; 
    display: flex;
    justify-content: space-between;
}

.btnSubmit:hover {
    background-color: #ffffff;
    color: #e4ac14;
    border: 1px solid #e4ac14;
}

footer {
    color: #797979;
    height: 10vh;
    background-color: #292a2a;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.credits {
    width: 50%;
    text-align: center;
}

.credits a {
    color: #797979;
}